<div>product-change</div>
<div>
    <p>product: <input  type='input' value= {{productsInfo.name}} [(ngModel)] = productsInfo.name /></p>
    <p>price: <input  type='input' value= {{productsInfo.price}}  [(ngModel)] =  productsInfo.price/></p>
    <p>brand: <input  type='input' value= {{productsInfo.brand}}  [(ngModel)] = productsInfo.brand /></p>
    <p>category: <input  type='input' value= {{this.productsInfo.category}}  [(ngModel)] = productsInfo.category /></p>
    <p>image: <input  type='input' style='width: 50rem' value={{productsInfo.image}} [(ngModel)] =productsInfo.image /></p>
    <p>countInStock: <input  type='input' value={{productsInfo.countInStock}}  [(ngModel)] = productsInfo.countInStock /></p>
    <p>description: <input  type='input' value= {{productsInfo.description}}  [(ngModel)] =productsInfo.description /></p>
    <button class='updateBtn btn btn-default' (click)='update()'>Update</button>

</div>
